<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Add Business Details </h2>
              <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
              <div class="order_box">
                <div class="row">
                  <div class="col-md-12 col-lg-9">
                    <form [formGroup]="editBusinessForm" (ngSubmit)="onSubmit()">
                      <!-- <input type="hidden" maxlength="50" formControlName="userId" name="userId" />
                      <input type="hidden" maxlength="50" formControlName="businessProfileId" name="businessProfileId" /> -->
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <div class="form_tag_div">
                            <label for="inputEmail4">Company Name <span class="req">*</span></label>
                            <input type="text" maxlength="50" formControlName="companyName" name="companyName" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                              <div *ngIf="f.companyName.errors.required">Company Name field is required</div>
                              <div *ngIf="f.companyName.errors.pattern">White space not allowed</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <div class="form_tag_div">
                            <label for="inputEmail4">Holder Name <span class="req">*</span></label>
                            <input type="text" maxlength="50" formControlName="accountNumber" name="accountNumber"
                              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }" />
                            <div *ngIf="submitted && f.accountNumber.errors" class="invalid-feedback">
                              <div *ngIf="f.accountNumber.errors.required">Holder Name field is required</div>
                              <div *ngIf="f.accountNumber.errors.pattern">White space not allowed</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <div class="form_tag_div">
                            <label for="inputEmail4">Accound Number <span class="req">*</span></label>
                            <input type="text" maxlength="50" formControlName="holderName" name="holderName" (keypress)="onKey($event)"
                              onPaste="return false" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.holderName.errors }" />
                            <div *ngIf="submitted && f.holderName.errors" class="invalid-feedback">
                              <div *ngIf="f.holderName.errors.required">Accound Number field is required</div>
                              <div *ngIf="f.holderName.errors.pattern">White space not allowed</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <div class="form_tag_div">
                            <label for="inputEmail4">IFSC Code <span class="req">*</span></label>
                            <input type="text" maxlength="50" formControlName="ifscCode" name="ifscCode" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.ifscCode.errors }" />
                            <div *ngIf="submitted && f.ifscCode.errors" class="invalid-feedback">
                              <div *ngIf="f.ifscCode.errors.required">IFSC Code field is required</div>
                              <div *ngIf="f.ifscCode.errors.pattern">White space not allowed</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="btn_order_div">
                        <a routerLink="/business-profile" class="btn btn-Cancel">Cancel</a>
                        <button class="btn btn-Save">Save</button>
                        <!-- <button type="submit" class="btn btn-Save">Save</button> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>