<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}} ...</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp">
		<h3>Account</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-3 col-md-4">
		  <app-profile-sidebar></app-profile-sidebar>
		</div>
		<div class="col-lg-9 col-md-8">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
			  <h2>Addresses </h2>
			  <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
			  <div class="order_box">
				  <div *ngFor="let address of addressData; index as i">
					<div class="col-md-12">
						<p><b>Address {{i+1}}:</b></p>
						<p>{{address.fullName}}<br />
							{{address.addressLine1}},
							{{address.addressLine2}}<br />
							{{address.landMark}},
							{{address.city}}<br />
							{{address.state}},
							{{address.pincode}}<br/>
							Mobile No.: {{address.mobileNumber}}
						</p>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>