<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <app-search></app-search>
  <div class="pro_slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="heading_pro_sub">
			<h2>Featured Items</h2>
		  </div>
		</div>
		<div class="col-md-12" *ngIf="!products">
			<p class="center-align"></p>
			<p class="center-align">Featured Items not available in the list</p>
		</div>
		<div class="col-md-12" *ngIf="products">
		  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
			<div ngxSlickItem *ngFor="let product of products" class="slide">
			  <div class="pro_d1">
				<span class="top-rightLabel"> <img src="assets/images/feature-label.png"> </span><img src="{{product.displayImage}}"
				  alt="" title="" class="fiexd_size_img">
				<div class="pro_text_div">
				  {{product.name}}
				  <div class="pro_div_heading"> - {{product.category.name}} <span><i class="fa fa-inr" aria-hidden="true"></i>
					 {{product.totalPrice}}
					<span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
						₹{{product.mrp}}</span>
					<span *ngIf="product.mrp && (product.mrp > product.totalPrice)"> ({{
						(((product.mrp-product.totalPrice)/product.mrp)*100)
						| number: '1.0-0' }}% OFF)
					</span>
					</span>
				  </div>
				  <div class="btnGropup">
					<a routerLink="/productdetails/{{product.productId}}" class="btn btn-pink ">View Details</a>
					<!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
				  </div>
				</div>
			  </div>
			</div>
		  </ngx-slick>
		</div>
	  </div>
	</div>
  </div>

 <!--  <div class="pro_slide gary_bg">
	<div class="container">
	  <div class="row">
		<div class="col-md-12 margin_bottom_20">
		  <div class="heading_pro_sub">
			<h2>Shop By Categories</h2>
		  </div>
		</div>
	  </div>
	</div>
	<div class="prod_custom_slide">
		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
			<div ngxSlickItem *ngFor="let category of categoryList" class="slide">
				<div class="pro_d1">
					<div class="pro_div_texts hover01">
						<a routerLink="/product/{{category.categoryId}}">
						<figure>
							<img src="{{category.image}}" class="img_size_fiexd2" alt="" title="">
						</figure>
						<div class="p_div_text">
							<span>{{category.name}}</span>
						</div>
						</a>
					</div>
				</div>
			</div>
		</ngx-slick>
	</div>
	</div> -->
	<div class="pro_slide">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading_pro_sub">
						<h2>Shop By Categories</h2>
					</div>
				</div>
				<div class="col-md-12">
					<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
						<div ngxSlickItem *ngFor="let category of categoryList" class="slide">
							<div class="pro_d1">
								<img src="{{category.image}}" alt="" title="" class="fiexd_size_img">
								<div class="pro_text_div">
									{{category.name}}

									<div class="btnGropup">
										<a routerLink="/product/{{category.categoryId}}" class="btn btn-pink ">View Details</a>
										<!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
									</div>
								</div>
							</div>
						</div>
					</ngx-slick>
				</div>
			</div>
		</div>
	</div>
  <div class="pro_slide">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="heading_pro_sub">
			<h2>Trending Products</h2>
		  </div>
		</div>
		<div class="col-md-12" *ngIf="!trendingproduct">
			<p class="center-align">Trending Products not available in the list</p>
		</div>
		<div class="col-md-12" *ngIf="trendingproduct">
		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
		  <div ngxSlickItem *ngFor="let trending of trendingproduct" class="slide">
			<div class="pro_d1">
			  <span class="top-rightLabel" *ngIf="trending.is_featured"> <img src="assets/images/feature-label.png"> </span><img src="{{trending.displayImage}}"
				alt="" title="" class="fiexd_size_img">
			  <div class="pro_text_div">
				{{trending.name}}
				<div class="pro_div_heading"> - {{trending.category.name}}
					<span><i class="fa fa-inr" aria-hidden="true"></i>
					{{trending.totalPrice}}
						<span *ngIf="trending.mrp && (trending.mrp > trending.totalPrice)" style="text-decoration: line-through;">
							₹{{trending.mrp}}</span>
						<span *ngIf="trending.mrp && (trending.mrp > trending.totalPrice)"> ({{
							(((trending.mrp-trending.totalPrice)/trending.mrp)*100)
							| number: '1.0-0' }}% OFF)
						</span>
				</span>
				</div>
				<div class="btnGropup">
				  <a routerLink="/productdetails/{{trending.productId}}" class="btn btn-pink ">View Details</a>
				  <!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
				</div>
			  </div>
			</div>
		  </div>
		</ngx-slick>
		</div>
	  </div>
	</div>
  </div>