<header class="fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-light ">
					<a class="navbar-brand" routerLink="/index"><img src="assets/images/logo.png" alt="logo"></a>
					<div class="navi_custom">
						<div class="sign_section_box" *ngIf="isLoggedIn == 'false'">
							<a routerLink="/login" >Sign IN</a> /
							<a routerLink="/register">SignUp</a>
						</div>
						<div class="sign_section_box" *ngIf="isLoggedIn == 'true'">
							<a routerLink="/profile">My Account </a>|
							<a href="javascript:void(0);" (click)="logout()">Logout</a>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
						 aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<span class="search_btns">
							<a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</span>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
							<ul class="navbar-nav">
								<li class="nav-item active">
									<a class="nav-link" routerLink="/index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" routerLink="/categories">Shop </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" routerLink="/contact">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
					<app-cart-popup></app-cart-popup>
				</nav>
			</div>
		</div>
	</div>
</header>
