<footer>
  <div class="row">
    <div class="col-lg-3 col-xl-2 col-md-4  ">

      <a href="#">
        <img src="assets/images/logo.png">
      </a>

      <div class="contNumber">
        <a href="tel:141 - 4049163"><i class="fa fa-phone" aria-hidden="true"></i> (+91) 141 - 4049163</a>
        <a href="tel:141 - 4049163"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 - 8696491521</a>
      </div>

    </div>
    <div class="col-lg-9 col-xl-10 col-md-8  ">
      <h3>Go To</h3>
      <ul>
        <li> <a routerLink="/about">About Us </a> </li>
        <li> <a routerLink="/contact">Contact Us </a> </li>
        <li> <a routerLink="/deliveryinfo">Delivery Information</a> </li>
        <li> <a routerLink="/privacy-policy">Privacy Policy</a> </li>
        <li> <a routerLink="/terms-conditions">Terms & Conditions</a> </li>
        <li> <a routerLink="/return-policy">Returns and Cancellation Policy</a> </li>
      </ul>
      <h3>Secure Payment</h3>
      <ul>
        <li> <img src="assets/images/payment-getway.png" class="img-fluid"> </li>
      </ul>
    </div>
  </div>

</footer>
<div class="copy_right">&copy; 2019 Vopers. All Rights Reserved <span>(V1.1)</span></div>