<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>My Shopping Bag ({{cartDataCount}} Item) <span class="pull-right">Total: &#8377; {{finaMrpValue}}</span></h2>
              <div class="cartBox" *ngFor="let cart of cartData">
                <div class="cartDisImg">
                  <img src="{{cart.product.images[0]}}">
                </div>
                <div class="cartDetail">
                  <h3>{{cart.product.name}}</h3>
                  <div class="pro_cart_btns">
                 <b>Quantity: </b>
                     {{cart.quantity}}
                  </div>
                  <div class="pro_cart_btns">
                    <b>Purchase Type: </b>
                    <span *ngIf="cart.product.purchaseType == 1">
                      Single
                    </span>
                    <span *ngIf="cart.product.purchaseType == 2">
                      Set
                    </span>
                  </div>
                  <div class="custom-radios">
                    <b>Size: </b>
                    <div *ngFor="let size of cart.product.sizeList">
                      <div>
                        <input type="radio" checked="checked">
                        <label for="color-1">
                          <span>
                            {{size.sizeTitle}}
                          </span>
                        </label>
                      </div>
                      <!-- <label for="color-{{size.sizeId}}">
                        <span>
                           {{size.sizeTitle}}
                        </span>
                      </label> -->
                    </div>
                  </div>
                  <label class="pricePink">
                    ₹{{cart.product.totalPrice}}
                  </label>
                </div>
              </div>
              <a routerLink="/categories" class="shoppingContinue">Continue Shopping</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="priceDetailBox jQueryEqualHeight">
            <h3>Delivery Address</h3>
            <div *ngIf="noDeliveryAddress">

            <ul class="priceDetail priceDetail" *ngIf="!deliveryAddress">
            <li *ngFor="let address of addressData; let i = index">
              <p *ngIf="!address.isDefault && i == 0">
                <b>{{address.fullName}}</b><br />
                {{address.addressLine1}},
                {{address.addressLine2}}<br />
                {{address.landMark}},
                {{address.city}}<br />
                {{address.state}},
                {{address.pincode}}<br />
                Mobile No.: {{address.mobileNumber}}
              </p>
            </li>
              <div class="btn_order_div center-align">
                <a routerLink="/view-address" class="btn btn-Save button-address">Change Address</a>
                <a routerLink="/add-address" class="btn btn-Save button-address">Add New Address</a>
              </div>
            </ul>
            <ul class="priceDetail priceDetail" *ngIf="deliveryAddress">
              <li>
                  <p>
                  <b>{{addressData.fullName}}</b><br />
                  {{addressData.addressLine1}},
                  {{addressData.addressLine2}}<br />
                  {{addressData.landMark}},
                  {{addressData.city}}<br />
                  {{addressData.state}},
                  {{addressData.pincode}}<br />
                  Mobile No.: {{addressData.mobileNumber}}
                </p>
              </li>
              <div class="btn_order_div center-align">
                <a routerLink="/view-address" class="btn btn-Save button-address">Change Address</a>
                <a routerLink="/add-address" class="btn btn-Save button-address">Add New Address</a>
              </div>
            </ul>
            </div>

            <div *ngIf="!noDeliveryAddress">
            <ul class="priceDetail priceDetail">
              <div class="btn_order_div center-align">
                <a routerLink="/add-address" class="btn btn-Save button-address">Add Address</a>
              </div>
            </ul>
            </div>

            <ul class="priceDetail priceDetail" *ngIf="walletFlag">
              <li><span><input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'A':'B')"> Wallet Amount </span> <span class="pinkColor">&#8377; {{walletTotalAmount}}</span></li>
              </ul>
            <h3>Price Detail</h3>
            <ul class="priceDetail">
              <li><span>Bag Total</span> <span> ₹ {{finaMrpValue}}</span></li>
              <li *ngIf="discount"><span>Bag Discount </span> <span> - &#8377; {{discount}} ({{discountPercent | number:
                  '1.0-0' }}%)</span></li>
              <li><span>Shipping charges </span>
                <span class="pinkColor" *ngIf="totalShippingCharge">&#8377; {{totalShippingCharge}}</span>
                <span class="pinkColor" *ngIf="!totalShippingCharge">&#8377; 0</span>
              </li>
              <li *ngIf="walletFlag && isCheckedVal"><span>Wallet Amount (Max &#8377;100 per order) </span> <span class="pinkColor">&#8377; {{walletDiducdedAmount}}</span></li>
            </ul>
            <ul class="priceDetail TotalPriRow">
              <li><span>Order Total</span> <span> <strong>&#8377; {{finalPriceValue}}</strong></span></li>
            </ul>
            <a href="javascript:void(0);" (click)="payNow()" class="checkOutBtn">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>