<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h2>Success</h2>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-8" *ngIf="!walletUser">
            <p>We have received your payment request, We will update you via email once we received payment.</p>
            <p> </p>
            <p *ngIf="transaction_id"><strong>Your Trancation id:</strong> {{this.transaction_id}}</p>
            <p></p>
           <!--  <p>Page will auto redirect to homepage, If not <a routerLink="/">click here</a> to redirect on home page.</p> -->
        </div>
        <div class="col-lg-9 col-md-8" *ngIf="walletUser">
            <p>Thank you for the order, We have received your payment.</p>
            <p> </p>
            <p *ngIf="transaction_id"><strong>Your Trancation id:</strong> {{this.transaction_id}}</p>
           <!--  <p>Page will auto redirect to homepage, If not <a routerLink="/">click here</a> to redirect on home page.</p> -->
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>