<div class="cart_section dropdown ">
	<a routerLink="/cart" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false">
	<span *ngIf="cartDataCount">{{cartDataCount}}</span>
	<span *ngIf="!cartDataCount">0</span>
</a>

  <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	<div class="order_cart_div">
	  <div class="order_heading_div">Your Bag</div>
	  <div class="order_cart_section mCustomScrollbar">
		<div class="order_pro_div1" *ngFor="let cart of cartData">
		  <img src="{{cart.product.images[0]}}">
		  <div class="order_list_heading1">{{cart.product.name}}
			<div class="order_prices_divs"><i class="fa fa-inr" aria-hidden="true"></i> {{cart.product.totalPrice}}</div>
		  </div>
		  <div class="close_btn_div">
			<a href="#"> <i class="fa fa-times" aria-hidden="true"></i></a>
		  </div>
		</div>
	  </div>
	  <div class="order_pricesections">Subtotal <span> <i class="fa fa-inr" aria-hidden="true"></i> 10,000</span>
		<div class="check_out_btns">
		  <a href="buttions_check_out">Checkout</a>
		</div>
	  </div>
	</div>
  </div> -->

</div>