<section class="socialSec">
  <h2>Let’s connect and be friends!</h2>
  <ul class="socialIcon">
    <li><a target="_blank" href="https://www.facebook.com/vopers.jaipur"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
    <li><a target="_blank" href="https://www.instagram.com/vedika_overseas/"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
    <li><a target="_blank" href="https://twitter.com/VopersV"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
    <li><a target="_blank" href="https://plus.google.com/u/1/117873078237613680732"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
    <li><a target="_blank" href="https://www.linkedin.com/onboarding/start/people-you-may-know/new/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
    <li><a target="_blank" href="https://in.pinterest.com/customercarevopers/"><i class="fa fa-pinterest" aria-hidden="true"></i></a> </li>
  </ul>
</section>