<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Business Details </h2>
              <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
              <div class="order_box">
                <div class="row" *ngIf="!profileData">
                  <div class="col-md-12 col-lg-12">
                    <!-- <p>No Recod found</p> -->
                    <div class="btn-pink-edit"><a routerLink="/add-business-profile"> Add Business Details </a>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="profileData">
                  <div class="col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Company Name</div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.companyName}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Holder Name </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.holderName}}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Accound Number</div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.accountNumber}}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> IFSC Code </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.ifscCode}} </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="btn-pink-edit" *ngIf="profileData"><a routerLink="/edit-business-profile"> Edit  </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>