<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp heading_page_top">
        <h3>Returns and Cancellation Policy</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">

              <div class="order_box">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="terms_conf_text">
                      <h4><strong>RETURN & REFUND POLICY</strong></h4>
                      <p>We wish to build a brand of trust and a treasured relationship with our customer. We are sure you will place an order
                      because you loved the product. Although we are confident of the quality of the ordered product that we send to you,
                      there could be issues which warrant return/exchange of the product. No problems! Just follow the guidelines. We provide
                      Returns, Exchange and Refunds for goods that are sold as it is and without any customization's / alterations.
                      Customized / altered items are not eligible for any return or exchange. You can send us an email at
                      customercare.vopers@gmail.com giving the details of your order no. and mentioning the reason why you want to return or
                      exchange it. We will only accept such requests if they are placed to us within 7 days of delivery. Please note that you
                      will have to bear the cost of return shipment. Kindly make sure that the returned items are packed securely and safely
                      to prevent any loss or damage during transit. In case of exchange, we will ship the desired new product once we receive
                      your shipment of the originally ordered product. The time taken for delivery will be as per our Shipping & Delivery
                      policy. No shipment will be charged. Please make sure that the product is returned to us in the condition you received
                      it in. In case you want to return the product/s, the entire amount will be refunded to you. For Credit card/Debit
                      card/Net Banking payments, it may take upto 2-5 business days for the refund amount to reflect in your respective
                      account (depending upon your bank). The mode of refund will be same as the mode of payment selected by customer. In
                      case of Cash On Delivery, the customer will have to provide their bank account details so that we can refund the amount
                      in their provided bank account. Once you return the product please intimate us with the tracking number. Please don’t
                      return without prior confirmation with us. We hope you will understand that washed, used or ironed garments cannot be
                      returned or exchanged. Please note that limited period offers which run for a specific period or product specific
                      discounts may not be available by the time you return the order.</p>

                      <h4><strong>CANCELLATION POLICY</strong></h4>

                      <p>We only accept cancellation requests within 24 hours of your order confirmation with us. Kindly write to us at
                      customercare.vopers@gmail.com with your request. If your order is successfully confirmed for cancellation by us, then
                      the amount will be fully refunded. For Credit card/Debit card/Net Banking payments, it may take upto 2-5 business days
                      for the refund amount to reflect in your respective account (depending upon your bank). The mode of refund will be same
                      as the mode of payment selected by customer.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>