<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
	<section class="cartOuter">
	<div class="container">
		<div class="login_page_set">
		<div class="custom_pop">
			<div class="modal_title_login">Log in</div>
			<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label>Email/Mobile Number <span class="req">*</span></label>
				<input type="text" formControlName="email" maxlength="50" name="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
				<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
					<div *ngIf="f.email.errors.required">Email/Mobile Number is required</div>
					<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
				</div>
			</div>
			<div class="form-group">
				<label>Password <span class="req">*</span></label>
				<input type="password" formControlName="password" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Password is required</div>
					<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
				<div class="custom-radios">
					<div>
					<input type="checkbox" id="gridCheck" formControlName="rememberme" checked>
					<label for="gridCheck">
						<span></span>
						Remember Me
					</label>
					</div>
				</div>
				</div>
				<div class="form-group col-md-6">
				<div class="form_forgot_text">
					<a routerLink="/forgotpassword">Forgot your password?</a>
				</div>
				</div>
			</div>
			<!-- <button type="submit" class="btn btn-custom">Login</button> -->
			<button class="btn btn-custom">Login</button>
			<div class="tag_line_form"> Don’t have an account ? <a routerLink="/register"> SignUp</a></div>
			</form>
		</div>
		</div>
	</div>
	</section>
</div>
<app-social></app-social>
<app-footer></app-footer>