<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp heading_page_top">
		<h3>About Us </h3>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="shadowWhiteBox jQueryEqualHeight">
					<div class="cartInner">
						<h2>STEP OUT IN STYLE with VEDIKA OVERSEAS </h2>

						<div class="about-secitons">
							<div class="row">

								<div class="col-md-12 col-lg-12">
									<div class="about-texts">


										<iframe width="100%" height="400" src="https://www.youtube.com/embed/2Dnd4rRoFWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										 allowfullscreen></iframe>

										<div class="row m-b-30">
											<div class="col-md-7">
												<img src="assets/images/ab-1.jpeg" class="img-fluid">
											</div>
											<div class="col-md-5">
												<div class="abContentArea">
													<h3>STEP OUT IN STYLE with VEDIKA OVERSEAS </h3>
													<p>

														Our main
														motive is to provide Best Quality
														goods within budget for our
														Customers. After planning a lot we
														are here with our unique
														collection. So come along with us
														to a new world of Fashion and
														style.
													</p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-5">
												<div class="abContentArea">
													<h3>Our manufacturing unit </h3>
													<p>Product is called unique only when
														its manufacturing is done perfectly.
														So, we mainly focused on our
														manufacturing & took cleanliness
														and workers safety as our duty.</p>
												</div>
											</div>
											<div class="col-md-7">
												<img src="assets/images/ab-2.jpg" class="img-fluid">
											</div>
										</div>


									</div>

								</div>

							</div>



						</div>

					</div>
				</div>

			</div>
		</div>
	  </div>

  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>