<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>

<!-- <div class="serch_bar_mobiles innerPageSearchBar">
  <div class="serch_bar collapse" id="collapseExample">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-7 mobile_size_width1">
          <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
            <div class="serch_bar_box">
              <input type="text" formControlName="search" class="form-control" placeholder="Search from more than 1 Lac Products...">
              <span class="serch_btns">
                <button class=""><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-lg-3 mobile_size_width2">
          <div class="go_to_btn">
            <a routerLink="/singlestore/1" >Go To Singles Store</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="top_header_space">
  <div class="pro_slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading_pro_sub">
            <h2>Categories</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4" *ngFor="let category of categoryData">
              <div class="pro_d1">
                <img src="{{category.image}}" alt="" title=""
                  class="fiexd_size_img">
                <div class="pro_text_div">{{category.name}}
                  <div class="btnGropup">
                    <a routerLink="/product/{{category.categoryId}}" class="btn btn-pink ">View Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-social></app-social>
<app-footer></app-footer>