<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}} ...</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
	<div class="container">
	  <div class="accDetailTOp">
		<h3>Account</h3>
	  </div>
	  <div class="row">
		<div class="col-lg-9 col-md-8">
		  <div class="shadowWhiteBox jQueryEqualHeight">
			<div class="cartInner">
			  <h2>My Shopping Bag ({{cartDataCount}} Item) <span class="pull-right">Total: Rs. {{finaPriceValue}}</span></h2>
			  <div class="center-align" *ngIf="emptyMessage">
						{{emptyMessage}}
				</div>
			  <div class="cartBox" *ngFor="let cart of cartData">
				<a href="javascript:void(0)" (click)="deleteCartProduct(cart.productCartId)" class="deleteItem">
				  <i class="fa fa-trash-o" aria-hidden="true"></i>
				</a>
				<div class="cartDisImg">
				  <img src="{{cart.product.images[0]}}">
				</div>
				<div class="cartDetail">
				  <h3><a routerLink="/productdetails/{{cart.product.productId}}">{{cart.product.name}}</a></h3>
					<div class="pro_cart_btns">
					  <div class="products_btsn">
						<div class="input-group number-spinner">
						  <span class="input-group-btn data-dwn">
							<button class="btn btn-add-less" (click)="qtyDecr(cart)" data-dir="dwn"><i class="fa fa-minus" aria-hidden="true"></i>
							</button>
						  </span>
						  <input readonly type="text" class="form-control text-center" value="{{cart.quantity}}" min="1" max="40">
						  <span class="input-group-btn data-up">
							<button class="btn btn-add-less" (click)="qtyIncr(cart)" data-dir="up"><i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						  </span>
						</div>
					  </div>
					</div>
				  <div class="pro_cart_btns">
						<b>Purchase Type: </b>
						<span *ngIf="cart.product.purchaseType == 1">
							Single
						</span>
						<span *ngIf="cart.product.purchaseType == 2">
							Set
						</span>
					</div>
				  <div class="custom-radios">
					<b>Size: </b>
					<div *ngFor="let size of cart.product.sizeList">
						<div>
							<input type="radio" checked="checked">
							<label for="color-1">
								<span>
									{{size.sizeTitle}}
								</span>
							</label>
						</div>

					  <!-- <label for="color-{{size.sizeId}}">
						<span>
						  {{size.sizeTitle}}
						</span>
						<span>   </span>
					  </label> -->
					</div>
				  </div>
				  <label class="pricePink">
					₹{{cart.product.totalPrice}}
				  </label>
				</div>
			</div>
			<div class="text-center col-md-12" ><a *ngIf="emptyMessage" routerLink="/categories" class="shoppingContinue floatNone">+ Add items</a></div>
			<a *ngIf="!emptyMessage" routerLink="/categories" class="shoppingContinue">Continue Shopping</a>
			</div>
		  </div>
		</div>
		<div class="col-lg-3 col-md-4">
		  <div class="priceDetailBox jQueryEqualHeight">
			<h3>Price Details</h3>
			<ul class="priceDetail">
			  <li><span>Bag Total</span> <span> Rs. {{finaMrpValue}}</span></li>
			  <li *ngIf="discount"><span>Bag Discount </span> <span> - Rs. {{discount}} ({{discountPercent | number: '1.0-0' }}%)</span></li>
				<li><span>Shipping charges </span>
					<span class="pinkColor" *ngIf="totalShippingCharge">&#8377; {{totalShippingCharge}}</span>
					<span class="pinkColor" *ngIf="!totalShippingCharge">&#8377; 0</span>
				</li>
			</ul>
			<ul class="priceDetail TotalPriRow">
			  <li><span>Order Total</span> <span> <strong>Rs. {{finaPriceValue}}</strong></span></li>
			</ul>
			<a *ngIf="finaPriceValue" routerLink="/checkout" class="checkOutBtn">Checkout</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>