<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp heading_page_top">
        <h3>Privacy Policy</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <div class="order_box">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="terms_conf_text">
                      <p>
                        Vopers Customer Care (“us”, “we”, or “our”) operates Customercare.vopers@gmail.com For
                        Customers Support. </p>
                      <p>This page informs you of our policies regarding the collection, use, and disclosure of
                        personal data when you use our Service and the choices you have associated with that data. </p>
                      We use your data to provide and improve the Service. By using the Service, you agree to the
                      collection and use of information in accordance with this policy. Unless otherwise defined in
                      this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and
                      Conditions, accessible from
                      Vopers is committed to protecting your privacy. It is important to us that our customers retain
                      their privacy while taking advantage of the services that we have to offer. To this end, we
                      adhere to the following basic principles:

                      <p>1. We employ the highest levels of security to keep your personal information strictly
                        confidential. </p>

                      <p>2. We will not disclose or sell any of your personal information, including your name,
                        address, credit card number or transaction history to any third party without your permission.
                      </p>

                      <p>3. Although we use cookie technology to help users navigate our site efficiently we never use
                        cookies to store personal information. </p>

                      <p>Please be aware, however, that our site contains link to other sites and that the privacy
                        practices of other sites may differ from those of Vopers. </p>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>