<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h2>Failed</h2>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-8">
          <p>Your payment has been cancelled.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>