<app-header></app-header>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-circus">
    <p style="font-size: 20px; color:white">Loading...</p>
  </ngx-spinner>


  <!-- <div class="serch_bar_mobiles innerPageSearchBar">
    <div class="serch_bar collapse" id="collapseExample">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8 col-lg-7 mobile_size_width1">
            <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
              <div class="serch_bar_box">
                <input type="text" formControlName="search" class="form-control" placeholder="Search from more than 1 Lac Products...">
                <span class="serch_btns">
                  <button class=""><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-4 col-lg-3 mobile_size_width2">
            <div class="go_to_btn">
              <a routerLink="/wholesale/2" >Go To Wholesale Store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



<div class="top_header_space">
  <div class="pro_slide">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading_pro_sub">
            <h2>Products</h2>
          </div>
        </div>
        <div class="col-md-12">
          <p *ngIf="message">{{message}}</p>
          <div class="row">
            <div class="col-md-4" *ngFor="let product of productListData">
              <div class="pro_d1">
                <span class="top-rightLabel" *ngIf="product.is_featured"> <img src="assets/images/feature-label.png"> </span>
                <img src="{{product.displayImage}}" alt="" title="" class="fiexd_size_img">
                <div class="pro_text_div">{{product.name}}
                  <div class="pro_div_heading">{{product.name}} <span><i class="fa fa-inr" aria-hidden="true"></i>
                      {{product.totalPrice}}
                    <span *ngIf="product.mrp && (product.mrp > product.totalPrice)" style="text-decoration: line-through;">
                      ₹{{product.mrp}}</span>
                    <span *ngIf="product.mrp && (product.mrp > product.totalPrice)"> ({{
                      (((product.mrp-product.totalPrice)/product.mrp)*100)
                      | number: '1.0-0' }}% OFF)
                    </span>
                    </span>
                  </div>
                  <div class="btnGropup">
                    <a routerLink="/productdetails/{{product.productId}}" class="btn btn-pink ">View Details</a>
                    <!-- <a href="#" class="btn btn-white pull-right">Add to Cart</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-social></app-social>
<app-footer></app-footer>