<app-header></app-header>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="">
      <!-- <div class="accDetailTOp"> -->
       <!--  <h3>Payment Option</h3> -->
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2 class="center-align"> Please select any payment method</h2>
              <ul class="paymentOption text-center" *ngIf="!paynow">
               <li>
                  <input type="radio" id="paytmPay" name="payoption" (change)="onSelectionChange(1)" [value]="1">
                  <label for="paytmPay">
                    <img src="assets/images/paytm-logo.png">
                  </label>
                </li>
                <li>
                  <input type="radio" id="payUmoney" name="payoption" (change)="onSelectionChange(2)"[value]="2">
                  <label for="payUmoney">
                    <img src="assets/images/payumoney-logo.png">
                  </label>
                </li>
              </ul>
              <ul class="paymentOption text-center">
                <li *ngIf="paytmPay">
                  <p *ngIf="paynow">Please do not refresh the page</p>
                  <!-- <p *ngIf="paynow">Payment Mode: <strong>Paytm</strong></p>
                  <p *ngIf="paynow">Amount: <strong>{{paytm.amount}}</strong></p> -->
                  <form ngNoForm action="https://securegw.paytm.in/theia/processTransaction?ORDER_ID={{paytm.txnid}}" name="f1" method="POST">
                  <input type="hidden" class="form-control" name="MID" [(ngModel)]="paytm.mid">
                  <input type="hidden" class="form-control" name="WEBSITE" [(ngModel)]="paytm.website">
                  <input type="hidden" class="form-control" name="ORDER_ID" [(ngModel)]="paytm.txnid">
                  <input type="hidden" class="form-control" name="CUST_ID" [(ngModel)]="paytm.userId">
                  <input type="hidden" class="form-control" name="MOBILE_NO" [(ngModel)]="paytm.phone">
                  <input type="hidden" class="form-control" name="EMAIL" [(ngModel)]="paytm.email">
                  <input type="hidden" class="form-control" name="INDUSTRY_TYPE_ID" [(ngModel)]="paytm.indtyp">
                  <input type="hidden" class="form-control" name="CHANNEL_ID" [(ngModel)]="paytm.channelId">
                  <input type="hidden" class="form-control" name="TXN_AMOUNT" [(ngModel)]="paytm.amount">
                  <input type="hidden" class="form-control" name="CALLBACK_URL" [(ngModel)]="paytm.surl">
                  <input type="hidden" class="form-control" name="CHECKSUMHASH" [(ngModel)]="paytm.hash">
                    <button id="paytmSubmit" *ngIf="paynow" type="submit">
                     <!--  Pay Now -->
                    </button>
                  </form>
                </li>
                <li *ngIf="payUoneyPay">
                  <p *ngIf="paynow">Please do not refresh the page</p>
                  <!-- <p *ngIf="paynow">Payment Mode: <strong>PayUMoney</strong></p>
                  <p *ngIf="paynow">Amount: <strong>{{payuform.amount}}</strong></p> -->
                 <!--  <form ngNoForm action="https://sandboxsecure.payu.in/_payment" name="payuform" method="POST"> -->
                 <form ngNoForm action="https://secure.payu.in/_payment" name="payuform" method="POST">
                    <input type="hidden" class="form-control" name="productinfo" [(ngModel)]="payuform.productinfo">
                    <input type="hidden" class="form-control" name="firstname" [(ngModel)]="payuform.firstname">
                    <input type="hidden" class="form-control" name="email" [(ngModel)]="payuform.email">
                    <input type="hidden" class="form-control" name="phone" [(ngModel)]="payuform.phone">
                    <input type="hidden" class="form-control" name="amount" [(ngModel)]="payuform.amount">
                    <input type="hidden" class="form-control" name="surl" [(ngModel)]="payuform.surl">
                    <input type="hidden" class="form-control" name="furl" [(ngModel)]="payuform.furl">
                    <input type="hidden" class="form-control" name="key" [(ngModel)]="payuform.key">
                    <input type="hidden" class="form-control" name="hash" [(ngModel)]="payuform.hash">
                    <input type="hidden" class="form-control" name="txnid" [(ngModel)]="payuform.txnid">
                    <input type="hidden" class="form-control" name="service_provider" value="payu_paisa">
                    <button id="payuSubmit" *ngIf="paynow" type="submit"><!-- Pay Now -->
                    </button>
                  </form>
                </li>
                <!-- <li>
                  <input type="radio" id="payUPI" name="payoption">
                  <label for="payUPI">
                    <img src="assets/images/upi-logo.png">
                  </label>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>


