<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
       <!--  <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div> -->
        <div class="col-lg-12 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Addresses </h2>
              <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
              <div class="order_box">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let address of addressData; index as i">
                      <p><b>Address {{i+1}}:</b>
                        <a routerLink="/edit-address/{{address.deliveryAddressId}}" class=" editIcon pull-right "> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                        <a href="javascript:void(0);" (click)="deleteAddress(address.deliveryAddressId)"  class=" deleteIcon pull-right "> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                      </p>
                      <p>{{address.fullName}}<br />
                        {{address.addressLine1}},
                        {{address.addressLine2}}<br />
                        {{address.landMark}},
                        {{address.city}}<br />
                        {{address.state}},
                        {{address.pincode}}<br />
                        Mobile No.: {{address.mobileNumber}}
                      </p>
                      <a href="javascript:void(0);" (click)="selectedAddress(address.deliveryAddressId)">Deliver to this address</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>