<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Primary Information </h2>
              <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
              <div class="order_box">
                <div class="row">
                  <div class="col-md-12 col-lg-3">
                    <div class="user_profile">
                      <img *ngIf="noImg" src="assets/images/no-image.jpg" class="img-fluid" alt="" title="">
                      <img *ngIf="profileData" src="{{profileData.profileImage}}" class="img-fluid" alt="" title="">
                      <div class="change_user_id">
                        <input id="changePicpro" type="file" />
                       <!--  <label for="changePicpro">Change Picture</label> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-9">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Name</div>
                        </div>
                         <div class="col-md-8">
                          <div class="profile_tag_name" *ngIf="profileData">{{profileData.firstName}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> E-mail </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.email}}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Mobile Number</div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.phoneNumber}}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="profile_tag_name"> Address </div>
                      </div>
                      <div class="col-md-8">
                        <div class="profile_tag_name" *ngIf="profileData">{{profileData.address}} </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="btn-pink-edit" *ngIf="profileData"><a routerLink="/editprofile"> Edit Profile </a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>