<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
              <h2>Transaction History </h2>
              <ul class="timeline" *ngIf="walletData">
                <li *ngFor="let wallet of walletData">
                  <h3 class="showPrice" *ngIf="wallet.isCashbackCredited">
                    <label class="btnsuccessful btntxn">
                      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                      Rewarded
                     </label>
                      <i class="fa fa-inr" aria-hidden="true"></i>
                       {{wallet.amount}}
                    </h3>
                    <h3 class="showPrice" *ngIf="!wallet.isCashbackCredited">
                      <label class="btnDeclined btntxn">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                        Redeemed </label>
                      <i class="fa fa-inr" aria-hidden="true"></i>
                      {{wallet.amount}}
                    </h3>
                  <p class="tXnID">Order ID: {{wallet.orderUuId}} | Date: {{wallet.date.split(' ')[0]}} | Status: {{wallet.transactionStatus}}</p>
                </li>
              </ul>
              <ul *ngIf="!walletData && noMsg">

                  <p>No record found</p>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>