<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
		    <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner">
			  <h2>My Order </h2>
			  <div *ngIf='orderData'>
              <div class="cartBox" *ngFor="let order of orderData">

                <div class="cartDetail">
                  <h3><b>Order No: </b>{{order.orderUuId}}</h3>
                  <p><b>Order Status: </b>{{order.orderStatus}}</p>
                  <p><b>Date Ordered: </b>{{order.orderDate.split(' ')[0]}}</p>
                  <p><b>Payment Method: </b>{{order.payment.modeOfPayment}}</p>
                  <label class="pricePink">
                    ₹{{order.payment.amount}}
				  </label>
				<a routerLink="/order-details/{{order.orderUuId}}" class="">
					More Details >>
				</a>
				</div>
			  </div>
				</div>
			<div class="" *ngIf='message'>
				{{message.message}}
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>