<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="login_page_set">
        <div class="custom_pop">
          <div class="modal_title_login">Edit Address</div>
          <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode != 200 }">{{message.message}}</div>
          <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="deliveryAddressId" class="form-control" />
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="name">Name <span class="req">*</span></label>
                  <input type="text" maxlength="50" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name field is required</div>
                    <div *ngIf="f.name.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="mobile">Mobile Number <span class="req">*</span></label>
                  <input type="number" onPaste="return false" maxlength="15" formControlName="mobile_number" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }" />
                  <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile_number.errors.required">Mobile Number field is required</div>
                    <div *ngIf="f.mobile_number.errors.min">Mobile Number must be 10 characters</div>
                    <div *ngIf="f.mobile_number.errors.max">Mobile Number must be 10 characters</div>
                    <div *ngIf="f.mobile_number.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">Flat No./Building Name<span class="req">*</span></label>
                  <input type="text" maxlength="150" formControlName="building" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.building.errors }" />
                  <div *ngIf="submitted && f.building.errors" class="invalid-feedback">
                    <div *ngIf="f.building.errors.required">Building Name field is required</div>
                    <div *ngIf="f.building.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">Road/Locality<span class="req">*</span></label>
                  <input type="text" maxlength="150" formControlName="locality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.locality.errors }" />
                  <div *ngIf="submitted && f.locality.errors" class="invalid-feedback">
                    <div *ngIf="f.locality.errors.required">Locality field is required</div>
                    <div *ngIf="f.locality.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">Pin<span class="req">*</span></label>
                  <input type="text" maxlength="150" formControlName="pin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                  <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                    <div *ngIf="f.pin.errors.required">Pin field is required</div>
                    <div *ngIf="f.pin.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">City<span class="req">*</span></label>
                  <input type="text" maxlength="150" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">City field is required</div>
                    <div *ngIf="f.city.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">State<span class="req">*</span></label>
                  <input type="text" maxlength="150" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                  <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">State field is required</div>
                    <div *ngIf="f.state.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">From Name</label>
                  <input type="text" maxlength="150" formControlName="fromName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.fromName.errors }" />
                  <div *ngIf="submitted && f.fromName.errors" class="invalid-feedback">
                    <div *ngIf="f.fromName.errors.required">From Name field is required</div>
                    <div *ngIf="f.fromName.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="mobile">From Contact Number </label>
                  <input type="text" onPaste="return false" maxlength="15" formControlName="fromContactNumber" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.fromContactNumber.errors }" />
                  <div *ngIf="submitted && f.fromContactNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.fromContactNumber.errors.required">From Contact Number field is required</div>
                    <div *ngIf="f.fromContactNumber.errors.min">From Contact Number must be 10 characters</div>
                    <div *ngIf="f.fromContactNumber.errors.max">From Contact Number must be 10 characters</div>
                    <div *ngIf="f.fromContactNumber.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="form_tag_div">
                  <label for="address">From Address</label>
                  <input type="text" maxlength="150" formControlName="fromAddress" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.fromAddress.errors }" />
                  <div *ngIf="submitted && f.fromAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.fromAddress.errors.required">From Address field is required</div>
                    <div *ngIf="f.fromAddress.errors.pattern">White space not allowed</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button type="submit" class="btn btn-custom">SignUp</button> -->
            <button class="btn btn-custom">Update</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>