<div class="slde">
  <img src="assets/images/slide.jpg" class="img-fluid" alt="slide">
</div>
<div class="serch_bar_mobiles">
  <div class="serch_bar collapse" id="collapseExample">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-8 col-lg-7 mobile_size_width1">
          <form [formGroup]="searchProductForm" (ngSubmit)="onSubmit()">
            <div class="serch_bar_box">
              <input type="text" formControlName="search" class="form-control" placeholder="Search from more than 1 Lac Products...">
              <span class="serch_btns">
                <button class=""><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-lg-3 mobile_size_width2">
          <div class="go_to_btn">
            <a routerLink="/singlestore/1" *ngIf="purchaseType == 2" >Go To Singles Store</a>
            <a routerLink="/wholesale/2" *ngIf="purchaseType == 1">Go To Wholesale Store</a>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>