<app-header></app-header>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div class="top_header_space">
  <section class="cartOuter">
    <div class="container">
      <div class="accDetailTOp">
        <h3>Account</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4">
      <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="shadowWhiteBox jQueryEqualHeight">
            <div class="cartInner" *ngIf="orderData">
              <h2>Order Details</h2>
              <p><b>Order Id</b>: {{orderId}}</p>
              <div class="cartBox">
                <div class="cartDisImg">
                  <img src="{{orderData.orderItems[0].product.images[0]}}">
                </div>
                <div class="cartDetail">
                  <h3>{{orderData.orderItems[0].product.name}}</h3>
                  <p><b>Order Status: </b>{{orderData.orderItems[0].orderStatus}}</p>
                  <p><b>Ordered Date: </b>{{orderData.orderDate.split(' ')[0]}}</p>
                  <!-- <p><b>Payment Method: </b>{{orderData.orderItems[0].payment.modeOfPayment}}</p> -->
                  <p><b>Delivery Date: </b>{{orderData.orderItems[0].deliveryDate.split(' ')[0]}}</p>

                  <label class="pricePink">
                    <span>₹{{orderData.orderItems[0].product.totalPrice}} </span>
                   <!--  <span *ngIf="orderData.orderItems[0].product.mrp" style="text-decoration: line-through;"> ₹{{orderData.orderItems[0].product.mrp}}</span> -->
                    <span *ngIf="orderData.orderItems[0].mrp && (orderData.orderItems[0].mrp > orderData.orderItems[0].product.totalPrice)" style="text-decoration: line-through;">
                      ₹{{orderData.orderItems[0].product.mrp}}</span>
                    <span *ngIf="orderData.orderItems[0].mrp && (orderData.orderItems[0].mrp > orderData.orderItems[0].product.totalPrice)"> ({{ (((orderData.orderItems[0].product.mrp-orderData.orderItems[0].product.totalPrice)/orderData.orderItems[0].product.mrp)*100) | number: '1.0-0' }}% OFF)</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-social></app-social>
<app-footer></app-footer>